<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-smooch" version="1.3.1">

    <name>Smooch</name>
    <description>Smooch Cordova Plugin for iOS and Android</description>
    <keywords>Smooch,messaging,chat,in-app,support,help</keywords>

    <js-module name="Smooch" src="www/js/smooch-cordova.js">
        <clobbers target="Smooch" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SmoochCordova">
                <param name="ios-package" value="SmoochCordova"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SmoochCordova.h" />
        <source-file src="src/ios/SmoochCordova.m" />

        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>Vous devez autoriser l'accès à votre Bibliothèque de Photos si vous voulez envoyer une image à notre support.</string>
        </config-file>

        <framework src="Smooch" type="podspec" spec="~> 5.5.2"/>

        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreText.framework" />
        <framework src="Foundation.framework" />
        <framework src="libxml2.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="Photos.framework" />
        <framework src="AVFoundation.framework" />
    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="SmoochCordova">
                <param name="android-package" value="io.smooch.cordova.SmoochCordova"/>
            </feature>
        </config-file>

        <source-file src="src/android/colors.xml" target-dir="res/values" />
        <config-file target="res/values/colors.xml" parent="/resources">
          <color name="Smooch_accent">#50BCBA</color>
          <color name="Smooch_accentDark">#44918D</color>
          <color name="Smooch_accentLight">#92F0E0</color>
          <color name="Smooch_backgroundInput">#ffffff</color>
          <color name="Smooch_btnSendHollow">#c0c0c0</color>
          <color name="Smooch_btnSendHollowBorder">#303030</color>
          <color name="Smooch_header">#989898</color>
          <color name="Smooch_messageDate">@color/Smooch_header</color>
          <color name="Smooch_messageShadow">#7f999999</color>
          <color name="Smooch_remoteMessageAuthor">@color/Smooch_header</color>
          <color name="Smooch_remoteMessageBackground">#ffffff</color>
          <color name="Smooch_remoteMessageBorder">#d9d9d9</color>
          <color name="Smooch_remoteMessageText">#000000</color>
          <color name="Smooch_userMessageBackground">@color/Smooch_accent</color>
          <color name="Smooch_userMessageBorder">@color/Smooch_accentDark</color>
          <color name="Smooch_userMessageFailedBackground">@color/Smooch_accentLight</color>
          <color name="Smooch_userMessageText">#ffffff</color>
        </config-file>

        <source-file src="src/android/SmoochCordova.java" target-dir="src/io/smooch/cordova" />
        <source-file src="src/android/SmoochApplication.java" target-dir="src/io/smooch/cordova" />

        <hook type="after_plugin_install" src="scripts/afterInstall.js" />
        <hook type="before_plugin_uninstall" src="scripts/beforeUninstall.js" />

        <framework src="src/android/Smooch.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
